html {
  scroll-behavior: smooth;
}

header {
  background: url("./summer-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -7px;
  padding-bottom: 365px;
}

#about {
  transition-duration: 2s;
}

body {
  text-align: center;
  background: white;
  color: white;
  font-family: helvetica;
}
.first {
  font-family: Product Sans;
  font-size: xx-large;
  margin: 0px 0px 20px 0px;
}
input {
  padding: 10px;
  border-radius: 20px;
  border-color: transparent;
  outline-width: 0px;
}
input[type="submit"] {
  color: white;
  background: orange;
  border-color: rgb(238, 207, 150);
}
input[type="email"] {
  color: white;
  background: lightcoral;
}
::placeholder {
  color: rgb(255, 217, 217);
}

.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.8);
}

ul {
  margin: -10px 0px 0px -10px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 25px;
  text-align: right;
  font-family: product sans;
  font-weight: medium;
  font-size: 25px;
  letter-spacing: 1px;
}
li {
  display: inline;
  margin: 10px 8px 0px 8px;
  padding-right: 10px;
}
img {
  margin-top: 150px;
  transition-duration: 3s;
}
.nav-a {
  color: rgb(240, 190, 98);
  text-decoration: none;
  transition-duration: 0.5s;
}

.nav-a:hover {
  background-color: rgb(72, 30, 107, 0.7);
  padding: 20px;
  margin: 5px;
  transition-duration: 1s;
  border-radius: 5px;
}
.icon {
  margin-top: 13px;
  padding-left: 15px;
}
.icon:hover {
  animation: shake 2.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*Header Style Done*/
.black {
  color: black;
}
#para1 {
  font-family: helvetica;
  font-weight: 300;
}
.heading {
  font-family: product sans;
  font-weight: 100;
  text-align: left;
  padding: 120px;
  margin-left: 50px;
}
.hr {
  width: 20%;
  margin-left: 210px;
  margin-top: -110px;
}
.img_1 {
  margin-top: -130px;
  margin-right: 60px;
  border-radius: 20px;
  width: 470px;
  height: 409px;
  box-shadow: 10px 10px 10px grey;
  transition-duration: 0.3s;
}

.img_1:hover {
  box-shadow: 15px 15px 10px rgb(66, 65, 65);
  width: 490px;
  height: 429px;
  transition-duration: 0.3s;
}
.left {
  font-size: 21.5px;
  text-align: center;
  margin-right: 650px;
  margin-left: 45px;
  margin-top: -70px;
}

.left_2 {
  font-size: 21px;
  text-align: center;
  margin-right: 650px;
  margin-left: 45px;
}

.extra {
  font-size: 30px;
}
.about-2 {
  background-color: rgb(52, 52, 94);
  margin: 100px -8px 0px -8px;
}

.about-2-img {
  background-color: rgb(52, 52, 94);
  margin-top: 40px;
  transition-duration: 2s;
}
.about-2-img:hover {
  transition-duration: 2s;
}
.left_3 {
  font-family: Helvetica;
  color: white;
  padding-top: 90px;
  padding-bottom: 100px;
  font-size: 20px;
  margin-right: 50px;
}

/*Mid style done*/

.footer {
  background-color: #ccd0d1e0;
  margin-left: -10px;
  margin-right: -8px;
}

.footer-head {
  color: rgb(33, 33, 87);
  font-size: 27px;
  text-align: left;
  padding-top: 50px;
  padding-left: 70px;
  margin-bottom: 30px;
  font-family: product sans;
  text-decoration: underline;
  text-underline-position: under;
}

.foot-a {
  color: rgb(46, 46, 109);
  text-decoration: none;
  margin-left: -1160px;
  font-family: product sans;
}

.foot-a:hover {
  background-color: rgb(106, 106, 180);
  color: white;
  transition-duration: 0.3s;
  padding: 3px;
  border-radius: 2px;
}

.foot-a-2 {
  color: rgb(46, 46, 109);
  text-decoration: none;
  margin-left: -1118px;
  font-family: product sans;
}

.foot-a-2:hover {
  background-color: rgb(106, 106, 180);
  color: white;
  transition-duration: 0.3s;
  padding: 3px;
  border-radius: 2px;
}

.marg {
  margin-left: 15px;
  padding-bottom: 45px;
}

.foot-icon-a {
  margin-right: 50px;
  margin-top: -105px;
}

.foot-icon-b {
  margin-right: 100px;
  margin-top: -105px;
}

.foot-icon-c {
  margin-right: 150px;
  margin-top: -105px;
}

.spin:hover {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  box-shadow: 5px 5px 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.end {
  font-family: helvetica;
  color: black;
  background-color: #ccd0d1e0;
  margin-top: -20px;
  margin-right: -8px;
  margin-left: -10px;
  margin-bottom: -5px;
  padding-left: 130px;
  text-align: center;
}
